.wrapperFooter {
  background-color: grey;
  margin-top: 30px;
}

.tags-initial {
  justify-content: initial !important;
}

.tags:not(:last-child) {
  margin-bottom: 0.25rem !important;
}

.fix-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  left: 0;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.item-title {
  width: 80%;
}
.item-count {
  width: 10%;
}
